<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.novel.dao.ReplyMapper" >

	<select id="findReplyByBid" parameterType="Integer"  resultType="ReplyVo">
	select r.replyid,r.bid,r.replycontents,r.replytime,u.userid,u.username,u.sex,u.city  from reply r,user u  
	where r.userid=u.userid and r.bid=#{bid} 
	 order by replytime desc 
	</select> 
	
	<insert id="addReply" parameterType="Reply"  >
	insert into reply(bid,userid,replycontents,replytime,replyip) 
	values(#{bid},#{userid},#{replycontents},#{replytime},#{replyip})
	</insert>
	
	<delete id="delReplyByBid"  parameterType="Integer">
	delete from reply where bid=#{bid}
	</delete>
	
	<delete id="delReplyByUid"  parameterType="Integer">
	delete from reply where userid=#{userid}
	</delete>
</mapper>